<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/home/community.css">
    <title>COMMUNITY</title>
</head>
<body>
<div>
  <div class="font_title">
      <p>Self Chef</p>
  </div>
  <div class="img">
      <img src="css/home/image/logo.PNG ">
  </div>
  <div class="font_logout">
      <a href="login">log out</a>
  </div>
  <div class="search-box">
        <input type="text" class="search-txt" name="" placeholder="레시피, 재료 검색"/>
        <a class="search-btn" href="#">
            <i class="fas fa-search"></i>
            </a>
    </div>
  <ul class="menu">
        <li class="menu-item">
            <a href="/" class="menu-link">Home</a>
        </li>
        <li class="menu-item">
            <a href="community" class="menu-link">Community</a>
        </li>
        <li class="menu-item">
            <a href="#" class="menu-link">Meal planner</a>
        </li>
        <li class="menu-item">
            <a href="mypage" class="menu-link">My page</a>
        </li>
    </ul>
  </div>
<section class="notice">
        <div class="page-title">
        <div class="container">
            <h3>초스피드</h3>
        </div>
        </div>
        <!-- board list area -->
        <div id="board-list">
            <div class="container">
                <table class="board-table">
                    <thead>
                    <tr>
                        <th scope="col" class="th-num">번호</th>
                        <th scope="col" class="th-title">제목</th>
                        <th scope="col" class="th-writer">작성자</th>
                        <th scope="col" class="th-date">작성일</th>
                        <th scope="col" class="th-view">조회수</th>
                        <th scope="col" class="th-like">추천수</th>
                        
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <th>
                        <a href="/eggcustard">
                            <image src="css/home/image/s계란찜.png"></image>전자레인지로 쉽고 빠르게 계란찜 만들기</a>
                        </th>
                        <td>김인석</td>
                        <td>2022.11.17</td>
                        <td>36</td>
                        <td>15</td>
                    </tr>

                    <tr>
                        <td>2</td>
                        <th><a href="#!">
                            <image src="css/home/image/된장찌개.png"></image>초스피드 초간단 된장찌개!</a></th>
                        <td>정대윤</td>
                        <td>2022.11.18</td>
                        <td>44</td>
                        <td>28</td>                    
                    </tr>

                    <tr>
                        <td>3</td>
                        <th><a href="#!">
                            <image src="css/home/image/떡만두.png"></image>초간단/초스피드/사골 떡 만두국</a></th>
                        <td>정만성</td>
                        <td>2022.11.18</td>
                        <td>16</td>
                        <td>6</td>                        
                    </tr>
                    <tr>
                        <td>4</td>
                        <th><a href="#!">
                            <image src="css/home/image/두부달걀.png"></image>두부달걀볶음밥</a></th>
                        <td>양재혁</td>
                        <td>2022.11.19</td>
                        <td>15</td>
                        <td>5</td>                    
                    </tr>
                    <tr>
                        <td>5</td>
                        <th><a href="#!">
                            <image src="css/home/image/마늘쫑.png"></image>초스피드 마늘 쫑 볶음 갈게요~</a></th>
                        <td>안준호</td>
                        <td>2022.11.24</td>
                        <td>29</td>
                        <td>11</td>                    
                    </tr>
                    <tr>
                        <td>6</td>
                        <th><a href="#!">
                            <image src="css/home/image/떡볶이.jpg"></image>초간단 떡볶이 만들기 + 꿀맛은 덤</a></th>
                        <td>유원태</td>
                        <td>2022.11.30</td>
                        <td>14</td>
                        <td>7</td>
                    </tr>     
                                                       
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <div class="page">
      <ul class="pagination modal">
        <li><a href="#" class="first">처음</a></li>
        <li><a href="#" class="arrow_left"><<</a></li>
        <li><a href="#" class="active num">1</a></li>
        <li><a href="#" class="num">2</a></li>
        <li><a href="#" class="num">3</a></li>
        <li><a href="#" class="num">4</a></li>
        <li><a href="#" class="num">5</a></li>
        <li><a href="#" class="num">6</a></li>
        <li><a href="#" class="num">7</a></li>
        <li><a href="#" class="num">8</a></li>
        <li><a href="#" class="num">9</a></li>
        <li><a href="#" class="arrow_right">>></a></li>
        <li><a href="#" class="last">마지막</a></li>
      </ul>
    </div>
    <div class="right">
      <div class="main mx-auto">
        <div class="green_window">
          <form action="#" method="GET">
            <input id="query" class="input_text" name="query" type="search" placeholder="제목을 입력하세요">
            <button class="Button" type="submit"><div class="searchBtn">검색</div></button>
          </form>
        </div>
      </div>
    </div>
    <input type="button" class="navyBtn" value="글 쓰기" onClick="location.href='write'">
  </body>
<html>