<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/home/soycrab.css" >
    <title>COMMUNITY</title>
</head>
<body>
    <div class="font_title">
        <p>Self Chef</p>

    </div>
    <div class="img">
        <image src="css/home/image/logo.PNG">
    </div>
    <div class="font_logout">
        <a href="login">log out</a>
    </div>
    <div class="search-box">
        <input type="text" class="search-txt" name="" placeholder="레시피, 재료 검색"/>
            <a class="search-btn" href="#">
            <i class="fas fa-search"></i>
            </a>
    </div>
    <ul class="menu">
        <li class="menu-item">
            <a href="/" class="menu-link">Home</a>
        </li>
        <li class="menu-item">
            <a href="community" class="menu-link">Community</a>
        </li>
        <li class="menu-item">
            <a href="#" class="menu-link">Meal planner</a>
        </li>
        <li class="menu-item">
            <a href="mypage" class="menu-link">My page</a>
        </li>
    </ul>
    
    <a href="#" class="myButton">추천</a>
    <a href="#" class="myButton2">팔로우</a>
    <section class="notice">
        <div class="page-title">
        <div class="container">
            <h3>전자레인지로 쉽고 빠르게 계란찜 만들기  </h3>
        </div>
        </div>
        <div style="text-align: center;">
        <image src="css/home/image/계란찜.png">
        </div>
        <!-- board list area -->
        <div id="board-list">
            <div class="container">
                <table class="board-table">
                    <thead>
                    <tr>
                        
                        <th scope="col" class="th-like">재료</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>전자레인지용 뚝배기</td>
                    </tr>        
                    <tr>
                        <td>계란 3개</td>
                    </tr>
                    <tr>
                        <td>당근</td>
                    </tr>
                    <tr>
                        <td>쪽파</td>
                    </tr>
                    <tr>
                        <td>소금 1/2 티스푼~ 1티스푼</td>
                    </tr>
                    <tr>
                        <td>다시마물(생수)225ml</td>
                    </tr>
                    <tr>
                        <td>참기름</td>
                    </tr>
                    <tr>
                        <td>후추</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <ul>
          <li>
            <div style="text-align: center;">
              조리순서
            </div>
          </li>
          <li>
            <br>
            <br>
            <div style="text-align: left;">
            1. 재료를 썰어주고 계란3개를 풀어준 뒤 소금을 넣고 고루 섞어 다싯물(생수)을 부어줍니다.
            </div>
          </li>
          <li>
            <br>
            <div style="text-align: left;">
            2. 준비한 채소와 양념을 기호껏 모두 넣어줍니다.
            </div>
          </li>
          <li>
            <br>
            <div style="text-align: left;">
            3. 전자레인지에 넣고 3분간 돌려줍니다.
            </div>
          </li>
          <li>
            <br>
            <div style="text-align: left;">
            4. 계란찜을 꺼내 잘 저어준 후 다시 넣고 2분간 돌려줍니다. 
            </div>
          </li>
        </ul>
        
    </section>
</body>


<footer></footer>
</html>