<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko" xml:lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous"
    />
    <!-- Downloaded chart.css -->
<link rel="stylesheet" href="chart.css">

<!-- RawGit CDN chart.css -->
<link rel="stylesheet" href="https://cdn.rawgit.com/theus/chart.css/v1.0.0/dist/chart.css" />

    <link rel="stylesheet" href="/css/home/graph.css" >
    <title>GRAPH</title>
</head>
<body>
    <div class="font_title">
        <p>Self Chef</p>
    </div>
    <div class="img">
        <image src="css/home/image/logo.PNG ">
    </div>
    <div class="font_logout">
        <a href="login">log out</a>
    </div>
    <div class="search-box">
        <input type="text" class="search-txt" name="" placeholder="레시피, 재료 검색"/>
            <a class="search-btn" href="#">
            <i class="fas fa-search"></i>
            </a>
    </div>
    <ul class="menu">
        <li class="menu-item">
            <a href="/" class="menu-link">Home</a>
        </li>
        <li class="menu-item">
            <a href="community" class="menu-link">Community</a>
        </li>
        <li class="menu-item">
            <a href="mealplanner" class="menu-link">Meal planner</a>
        </li>
        <li class="menu-item">
            <a href="mypage" class="menu-link">My page</a>
        </li>
    </ul>
    <a href="kimchijjigae" class="myButton">레시피 보기</a>
        <div class="page-title">
          <div class="container">
            <h3>돼지고기 김치찌개 영양 분석 그래프</h3>
        </div>
        </div>
        <section>
  <div class="graph stack1">
    <span></span>
  </div>
  <div class="graph stack2">
    <span></span>   
  </div>
  <div class="graph stack3">
    <span></span>    
  </div>
  <div class="graph stack4">
    <span></span>
  </div>
</section>
<a class="font_cal">
  총 열량
</a>
<a class="font_tan">
  탄수화물
</a>
<a class="font_dan">
  단백질
</a>
<a class="font_ji">
  지방
</a>
<a class="font_cal1">
  12.15%
</a>
<a class="font_tan1">
  4.8%
</a>
<a class="font_dan1">
  10%
</a>
<a class="font_ji1">
  33.75%
</a>
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;width: 100%;font-size: 13px;
  width: 100%;border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;position: absolute; bottom: -500px;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;padding: 14px 0;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;padding: 14px 0;}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-0pky">총 열량</th>
    <th class="tg-0pky">243kcal</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0pky">탄수화물</td>
    <td class="tg-0pky">48kcal</td>
  </tr>
  <tr>
    <td class="tg-0pky">단백질</td>
    <td class="tg-0pky">60kcal</td>
  </tr>
  <tr>
    <td class="tg-0pky">지방</td>
    <td class="tg-0pky">135kcal</td>
  </tr>
</tbody>
</table>
</body>
<footer></footer>
</html>