<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="css/home/mealplanner.css">
  <title>MEAL PLANNER</title>
</head>

<body>
  <div class="font_title">
    <p>Self Chef</p>

  </div>
  <div class="img">
    <image src="css/home/image/logo.PNG">
  </div>
  <div class="font_logout">
    <a href="login">log out</a>
  </div>
  <div class="search-box">
    <input type="text" class="search-txt" name="" placeholder="레시피, 재료 검색" />
    <a class="search-btn" href="#">
      <i class="fas fa-search"></i>
    </a>
  </div>
  <ul class="menu">
    <li class="menu-item">
      <a href="/" class="menu-link">Home</a>
    </li>
    <li class="menu-item">
      <a href="community" class="menu-link">Community</a>
    </li>
    <li class="menu-item">
      <a href="#" class="menu-link">Meal planner</a>
    </li>
    <li class="menu-item">
      <a href="mypage2" class="menu-link">My page</a>
    </li>
  </ul>

  <section class="notice">
    <div class="page-title">
      <div class="container">
        <p>
        <h3 style="text-align: left; font-size : 15px;">성별 : 남</h3>
        </p>
        <p>
        <h3 style="text-align: left; font-size : 15px;">나이 : 24</h3>
        </p>
        <p>
        <h3 style="text-align: left; font-size : 15px;">식대 : ????</h3>
        </p>
        <p>
        <h3 style="text-align: left; font-size : 15px;">하루 3끼 식사</h3>
        </p>
        <p>
        <h3 style="text-align: left; font-size : 15px;">다이어트 여부 : X</h3>
        </p>
        <p>
        <h3 style="text-align: left; font-size : 15px;">하루 총 권장 칼로리 : 2000Kcal</h3>
        </p>
      </div>
    </div>
    </div>
    <!-- board list area -->
    <style type="text/css">
      .tg {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        font-size: 13px;
        width: 100%;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
      }

      .tg td {
        border-color: black;
        border-style: solid;
        border-width: 1px;
        font-family: Arial, sans-serif;
        font-size: 14px;
        overflow: hidden;
        padding: 10px 5px;
        word-break: normal;
        padding: 14px 0;
      }

      .tg th {
        border-color: black;
        border-style: solid;
        border-width: 1px;
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        overflow: hidden;
        padding: 10px 5px;
        word-break: normal;
        padding: 14px 0;
      }

      .tg .tg-0pky {
        border-color: inherit;
        text-align: left;
        vertical-align: top
      }

      .tg .tg-0lax {
        text-align: left;
        vertical-align: top
      }
    </style>
    <table class="tg">
      <thead>
        <tr>
          <th class="tg-0pky" colspan="2">조식</th>
          <th class="tg-0pky" colspan="2">중식</th>
          <th class="tg-0pky" colspan="2">석식</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="tg-0pky">열량(Kcal)</td>
          <td class="tg-0pky"></td>
          <td class="tg-0pky">열량(Kcal)</td>
          <td class="tg-0pky"></td>
          <td class="tg-0pky">열량(Kcal)</td>
          <td class="tg-0pky"></td>
        </tr>
        <tr>
          <td class="tg-0pky">300</td>
          <td class="tg-0pky"><a href="#">쌀밥</a></td>
          <td class="tg-0pky">300</td>
          <td class="tg-0pky"><a href="#">쌀밥</a></td>
          <td class="tg-0pky">300</td>
          <td class="tg-0pky"><a href="#">보리밥</a></td>
        </tr>
        <tr>
          <td class="tg-0pky">150</td>
          <td class="tg-0pky"><a href="#">애탕국</a></td>
          <td class="tg-0pky">60</td>
          <td class="tg-0pky"><a href="#">콩나물국</a></td>
          <td class="tg-0pky">243</td>
          <td class="tg-0pky"><a href="graph">돼지고기 김치찌개</a></td>
        </tr>
        <tr>
          <td class="tg-0pky">70</td>
          <td class="tg-0pky"><a href="#">제육장조림</a></td>
          <td class="tg-0pky">110</td>
          <td class="tg-0pky"><a href="#">모듬버섯볶음</a></td>
          <td class="tg-0pky">20</td>
          <td class="tg-0pky"><a href="#">깍두기</a></td>
        </tr>
        <tr>
          <td class="tg-0pky">20</td>
          <td class="tg-0pky"><a href="#">배추김치</a></td>
          <td class="tg-0pky">250</td>
          <td class="tg-0pky"><a href="#">고등어 양념구이</a></td>
          <td class="tg-0pky">90</td>
          <td class="tg-0pky"><a href="#">마른새우무침</a></td>
        </tr>
        <tr>
          <td class="tg-0pky">40</td>
          <td class="tg-0pky"><a href="#">미역달래무침</a></td>
          <td class="tg-0pky"></td>
          <td class="tg-0pky"></td>
          <td class="tg-0pky"></td>
          <td class="tg-0pky"></td>
        </tr>
        <tr>
          <td class="tg-0lax">소계</td>
          <td class="tg-0lax">580 Kcal</td>
          <td class="tg-0lax">소계</td>
          <td class="tg-0lax">720 Kcal</td>
          <td class="tg-0lax">소계</td>
          <td class="tg-0lax">653 Kcal</td>
        </tr>
        <tr>
          <td class="tg-0lax">총 열량</td>
          <td class="tg-0lax" colspan="5">1953 Kcal</td>
        </tr>
      </tbody>
    </table>

  </section>
</body>


<footer></footer>

</html>