<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/home/soycrab.css">
    <title>COMMUNITY</title>
</head>

<body>
    <div class="font_title">
        <p>Self Chef</p>

    </div>
    <div class="img">
        <image src="css/home/image/logo.PNG">
    </div>
    <div class="font_logout">
        <a href="login">log out</a>
    </div>
    <div class="search-box">
        <input type="text" class="search-txt" name="" placeholder="레시피, 재료 검색" />
        <a class="search-btn" href="#">
            <i class="fas fa-search"></i>
        </a>
    </div>
    <ul class="menu">
        <li class="menu-item">
            <a href="/" class="menu-link">Home</a>
        </li>
        <li class="menu-item">
            <a href="community" class="menu-link">Community</a>
        </li>
        <li class="menu-item">
            <a href="#" class="menu-link">Meal planner</a>
        </li>
        <li class="menu-item">
            <a href="mypage" class="menu-link">My page</a>
        </li>
    </ul>

    <a href="#" class="myButton">추천</a>
    <a href="#" class="myButton2">팔로우</a>
    <section class="notice">
        <div class="page-title">
            <div class="container">
                <h3>다이어트를 하자! 닭가슴살 샐러드</h3>
            </div>
        </div>
        <div style="text-align: center;">
            <image src="css/home/image/닭가슴살.png">
        </div>
        <!-- board list area -->
        <div id="board-list">
            <div class="container">
                <table class="board-table">
                    <thead>
                        <tr>

                            <th scope="col" class="th-like">재료</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>닭가슴살 300g</td>
                        </tr>
                        <tr>
                            <td>양파 1개</td>
                        </tr>
                        <tr>
                            <td>방울토마토 5개</td>
                        </tr>
                        <tr>
                            <td>우유 1/2컵</td>
                        </tr>
                        <tr>
                            <td>올리브유 2큰술</td>
                        </tr>
                        <tr>
                            <td>맛술 1큰술</td>
                        </tr>
                        <tr>
                            <td>머스타드 1/2큰술</td>
                        </tr>
                        <tr>
                            <td>다진마늘 1/2큰술</td>
                        </tr>
                        <tr>
                            <td>간장 2큰술</td>
                        </tr>
                        <tr>
                            <td>식초 2큰술</td>
                        </tr>
                        <tr>
                            <td>설탕 1큰술</td>
                        </tr>
                        <tr>
                            <td>참기름 1/2큰술</td>
                        </tr>
                        <tr>
                            <td>소금 약간</td>
                        </tr>
                        <tr>
                            <td>후추 약간</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <ul>
            <li>
                <div style="text-align: center;">
                    조리순서
                </div>
            </li>
            <li>
                <br>
                <br>
                <div style="text-align: left;">
                    1. 재료를 준비해주세요. 닭가슴살은 우유에 10분 정도 담가두었다가 건져 낸 후, 물에 헹궈 물기를 제거하고 밑간 재료에 10분간 재워주세요.
                </div>
            </li>
            <li>
                <br>
                <div style="text-align: left;">
                    2. 방울토마토와 양파는 얇은 링으로 썰어주세요.
                </div>
            </li>
            <li>
                <br>
                <div style="text-align: left;">
                    3. 볼에 드레싱 재료를 넣고 섞어주세요.
                </div>
            </li>
            <li>
                <br>
                <div style="text-align: left;">
                    4. 달군 팬에 약간의 올리브유를 두르고 닭가슴살의 표면을 노릇하게 구워주세요.
                </div>
            </li>
            <li>
                <br>
                <div style="text-align: left;">
                    5. 그리고 약불로 줄이고 뚜껑을 닫아 10~12분 정도 은근히 구워 속까지 익혀주세요.
                </div>
            </li>
            <li>
                <br>
                <div style="text-align: left;">
                    6. 접시에 잎채소를 담고, 구워놓은 닭가슴살을 올린 후 드레싱을 뿌려주세요.
                </div>
            </li>
        </ul>

    </section>
</body>


<footer></footer>

</html>